@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-body {
    padding: 20px;
    background: #fff;
  }
  .is-label {
    min-width: 170px;
    text-align: center;
    position: absolute;
    right: 60px;
    top: 50px;
    background: #2f9918;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 40px;
    font-family: PingFang SC;
    border: 10px dashed #fff;
  }
}
